body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
}

a {
    text-decoration: none;
}

p,
 h1, 
 h2,
 h3,
 h4,
 h5,
 h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ======header====== */

.header-container {
   display: flex;
   padding: 24px 0;
padding: 0 15px 0 15px;
}

.header {
    border-bottom: 1px solid #e7e9fc;
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-logo .logo-part{
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        
}

.header-navigation{
    display: flex;
    align-items: center;
}

.header-navigation-list {
    display: flex;
    gap: 40px;
}

.navigation-link{
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

 .active {
    color: #404bbf;
}

.active::after{
content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
}

.navigation-link:hover {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf; 
}

.navigation-link:active {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
        text-decoration: underline;
}

.navigation-link:focus{
color: #404bbf;
}

.header-address {
font-style: normal;
margin-left: auto;
}

.address-link {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-list{
    display: flex;
align-items: center;
gap: 40px;
padding: 24px 0 24px;
}

.address-link:hover,
.address-link:focus {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

/* ======hero====== */

.hero{
    background: #2e2f42;
    max-width: 1440px;
padding: 188px 0 188px;
margin: 0 auto;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/heroimg.jpg);
   background-position: center;
background-repeat: no-repeat;
background-size: cover; 
}

 .hero-container {
max-width: 1440px;
 }

.hero-title {
font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}

.hero-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
        display: block;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        border-radius: 4px;
        margin-right: auto;
        margin-left: auto;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

.hero-btn:hover,
.hero-btn:focus {
    background: #404bbf;
}

/* =====adventages===== */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages {
    padding: 120px 0 120px;
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-list-item {
        width: calc((100% - 72px) / 4);
        margin: 0 auto;
}

.advantages-list-item .advantages-list-figure {
display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
}

.advantages-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.advantages-list-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ========team======== */

.team {
    background: #f4f4fd;
padding: 120px 0 120px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize; 
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-image {
    background: url("path_to_image");
}

.team-container {
padding: 32px 0;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-soclink {
    display: flex;
    gap: 24px;
  padding: 0 16px 32px;
  justify-content: center;
}
.team-soclink-icon{
    width: 40px;
    height: 40px;}

.social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    fill:#f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, 
.social-link:focus {
  background-color: #404bbf;
}
  
/* =========portfolio========== */
.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        padding-right: auto;
        padding-left: auto;
        margin-bottom: 72px;
}

.portfolio-item-image {
    background: url("path_to_image");
}
.portfolio-item-cover {
    position: relative;
    overflow: hidden;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08)
}
.portfolio-item:hover .portfolio-overlay-text {
transform: translateY(0);
}
.portfolio-overlay-text{
    position: absolute;
    background: #4d5ae5;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
top: 0;
width: 100%;
height: 100%;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container {
 padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* =======footer======== */

.footer{
    background: #2e2f42;
     padding: 100px 0;

}
.text-footer { 
    margin-right: 120px;
    }


.footer-container {
display: flex;
    align-items: baseline;
}
 
.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
     display: inline-block;
     margin-bottom: 16px;
     }

.footer-logo .logo-part {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}


 .footer-soclink { 
    display: flex;
    gap: 16px;
}

.footer-socmedia {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.footer-soclink-icon{
width: 40px;
    height: 40px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
        align-items: center;
        justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-subsribe {
    margin-left: 80px;
}

.footer-subsribe-title {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        padding-left: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        background: transparent;
        outline: none;
}

.footer-input::placeholder {
    color: #fff;
}

.footer-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        border-radius: 4px;
            padding: 8px 24px;
            min-width: 165px;
            height: 40px;
            background-color: #4d5ae5;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
background-color: #404bbf;
}

.footer-icon-send {
    margin-left: 16px;
    fill: #fff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =============modal=============== */

.modal-lable{
    display: block;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
background: rgba(46, 47, 66, 0.4);
z-index: 999;
visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}

.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
        width: 24px;
        height: 24px;
    background-color: #e7e9fc; 
        display: flex;
        align-items: center;
        justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
background-color: #404bbf;
    fill: #fff;
    border: none;
}

 .modal-title {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
 }

 .icon-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .wrapper {
    position: relative;
 }

 .icon-input {
    position: absolute;
    left: 16px;
     top: 50%;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .modal-feild { 
    width: 360px;
    min-height: 58px;
    margin-bottom: 8px;
 }

 .text-input {
    display: block;
        color: #2e2f42;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        padding-left: 38px;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: transparent;
        background-color: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .text-input:hover,
 .text-input:focus {
    border-color: #4d5ae5;
 }

 .text-input:focus+ .icon-input,
 .text-input:hover+ .icon-input {
    fill: #4D5AE5;
 }

.modal-feild-comment{ 
font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 16px;
}

.modal-textarea{
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        padding: 8px 16px;
        width: 360px;
        height: 120px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        resize: none;
        outline: transparent;
        background-color: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: #4d5ae5;
}
.modal-checkbox {
    margin-bottom: 24px;
}
.custom-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
margin-right: 8px;
    background-color: #fff;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox {
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox:checked+.label-checkbox>.custom-checkbox {
    border: none;
    background-color: #404BBF;
    fill: #f4f4fd;
}

.privacy-policy {
    text-decoration: underline;
    color: #4d5ae5;
}

.modal-button {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}